<div style="padding:20px;"
     class="card"
     [ngStyle]="{'background-color': (selected) ?  'orange' : 'lightsteelblue' }">

  <ng-content select=".top"></ng-content>

  <h2>{{item.firstName}} - {{item.name}}</h2>
  <p>Flugnr. #{{item.id}}</p>
  <p>Status #{{item.passengerStatus}}</p>

  <passenger-status-toggle [(status)]="item.passengerStatus"></passenger-status-toggle>

  <p>
    <button class="btn btn-default" *ngIf="!selected" (click)="select()">Auswählen</button>
    <button class="btn btn-default" *ngIf="selected" (click)="deselect()">Entfernen</button>
    <a class="btn btn-default" [routerLink]="['/passenger-edit', item.id, {showDetails: true}]">Edit</a>
  </p>

  <ng-content select=".bottom"></ng-content>

</div>
